/* TODO: Add responsive styles here... */
@media screen and (max-width: 600px) {
    .navbar {
        justify-content: center;
        align-items: center;
    }

    .navbar .navbar-brand {
        margin-right: 0px;
    }

    .hero img {
        display: none;
    }

    .hero {
        text-align: center;
    }

    .hero h1 {
        margin-top: 60px;
    }

    .hero .container a {
        display: block;
    }

    .hero .hero-btns {
        margin-bottom: 130px;
    }

    .services {
        text-align: center;
    }

    .service-btn {
        margin-bottom: 100px;
    }

    .service-box {
        margin-top:20px;
        margin-bottom: 20px;
    }

    .about {
        margin-bottom: 80px;
        text-align: center;
    }

    .about img {
        margin-bottom: 70px;
    }

    .side2-img img {
        position: absolute;
        right: -20px;
        top: 1600px;
    }

    .contact {
        text-align: center;
    }

    .contact .hero-btns {
        /* margin: 40px auto; */
        display: none;

    }

   footer .contact-nav {
        display: flex;
        flex-direction: column;
    }

    footer h6 {
        padding-bottom: 20px;
    }
   
}