body {
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    flex-wrap: wrap;
    margin: 0;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    flex-basis: 100%;
}

header {
    border-bottom: 2px solid black;
    flex-basis: 100%;
}

header, main, footer {
    padding: 30px;
    line-height: 1.5;
}