@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'https://use.fontawesome.com/releases/v6.1.1/css/all.css';

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: Montserrat, sans-serif;
}

.schedule {
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px grey;
    margin:10px;
}

span, p {
    font-family: Lato, sans-serif;
}

.calendar {
    background-color: #FF9B00;
    color: white;
    padding: 20px 1000px 20px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.calendar span {
    font-weight: bold;
}

.calendar i {
    font-size: 24px;
    margin-right: 10px;
}

.event {
    padding: 30px 10px 50px 30px;

}

#opening {
    border-bottom: 2px solid #F2F1EF;
}

.event-hour {
    color: #BAAFAE;
    
}

.event-title {
    margin-bottom: 27px;
}

.event-desc {
    font-size: 18px;
}