body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    font-size: 14px;
    line-height: 20px;
    padding: 2%;
}

aside {
    float: right;
    width: 30%;
    vertical-align: top;
}

article {
    display: inline-block;
    width: 70%;
    
}

img {
    width: 80%;
}

